:root {
    --vert-pad: 15px;
    --black: rgb(34, 32, 36);
    --main-bg: #e0fffa;
    --frame-bg: #D4EFFF;
    --shadow-color: 171deg 34% 58%;
    --error-color: #ff7300;
    --shadow-elevation-low:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
      7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
      17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
      25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

*,
*::before,
*::after {
    box-sizing: border-box; 
}

* {
    margin: 0;
}

/* html, body {
    height: 100%;
} */

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black);
    position: relative;
    /* border: 4px teal solid; */
}

img, picture, video, canvas, svg {
    max-width: 100%;
    height: auto;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    border-radius: 10px;
}

/* Not useful to me now, but will be when I start using React */
/* 
#root, #__next {
    isolation: isolate;
} */

h1, h2 {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 6px;
}

p {
    margin: 6px 0 18px;
}

textarea {
    display: block;
    background-color: var(--black);
    color: white;
    resize: none;
    width: 100%;
    height: 130px;
    border: none;
    outline: none;
}

.bd {
    border: 1px solid black;
}

.br {
    border-radius: 12px;
}

.low-shadow {
    box-shadow: var(--shadow-elevation-low);
}

.med-shadow {
    box-shadow: var(--shadow-elevation-medium);
}

.high-shadow {
    box-shadow: var(--shadow-elevation-high);
}

.pd-horiz {
    padding:0 30px;
}

.pd-vert {
    padding-top: var(--vert-pad);
    padding-bottom: var(--vert-pad);
}

.mg-btm {
    margin-bottom: 15px;
}

.lighter-bg-color {
    background-color: #f1fffd;
}

.outer-container {
    width: 700px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #e0fffa;
}

.source {
    font-style:italic;
    margin: 30px auto;
    text-align: center;
}

.overview-container, .setup-container, .explanation-container {
    border-radius: 12px;
    margin-bottom: 48px;
}

.content-wrapper {
    width: 600px;
    margin: 20px auto;
    background-color: var(--main-bg);
    border-radius: 10px;
    padding: 15px;
}

.instructions-wrapper .code-container {
    margin: 13px auto 43px;
}

/* The Slideshow Preview */
.current-settings {
    font-size: 12px;
    transition: 0.5s ease;
    width: 100%;
    opacity: 0.7;
}

.frame {
    border: 20px solid var(--frame-bg);
    box-shadow: var(--shadow-elevation-medium);
    background-color: var(--frame-bg);
    border-radius: 12px;
    margin: 0px auto;
    width: 100%;
    height: 340px;
    position: relative;
}

.slides {
    position: absolute;
    opacity: 0;
    border-radius: 5px;
    /* object-fit: cover; */
    /* object-position: 0px 0px; */
    height: 300px;
    width: 100%;
}

.slideshow {
    animation: slideshow 20s infinite linear;
}

@keyframes slideshow {
    20% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }
}

.slide-1 {
    animation-delay: 0s;
}
.slide-2 {
    animation-delay: 5s;
}
.slide-3 {
    animation-delay: 10s;
}
.slide-4 {
    animation-delay: 15s;
}

#image-source {
    font-size: 14px;
    width: 75%;
    margin: 0 auto 3px;
    font-style: italic;
}

/*Input Styling*/

.values-container {
    width: 400px;
    margin: 40px auto;
    text-align: center;
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 10px;
    padding: 15px 30px 30px;
}


.value-wrapper {
    display: flex;
    align-items: center;
}

.value-wrapper * {
    width: 50%;
    text-align: left;
    margin-top: 15px;
}

.value-wrapper input {
    outline: none;
    appearance: none;
    border: 1px solid hsl(var(--shadow-color) / 0.34);
    border-radius: 3px;
    height: 32px;
    padding-left: 8px;
    transition: 0.2s ease;
}

button {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--black);
    background-color: #D4EFFF;
}

.copy-btn {
    width: 30px;
    height: 30px;
    color: #D4EFFF;
    font-size: 1px;
    padding: 0 0 4px 2px;
    margin: 0px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 3px 10px 3px 3px;
}

.copy-icon {
    mask: url(Images/copy-icon.svg);
    -webkit-mask: url(Images/copy-icon.svg);
    mask-position: 0px 0px;
    -webkit-mask-position: 0px 0px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transition: opacity 0.2s ease;
}

.copy-icon:hover {
    opacity: 0.8;
}

.copy-icon:active {
    opacity: 0.4;
}

#preview-btn {
    margin-bottom: 45px;
}

#bottom-copy-btn {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#preview-btn:active, #bottom-copy-btn:active {
    opacity: 0.8;
}

.code-container {
    background-color: var(--black);
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-medium);
    color: white;
    font-family: monospace;
    font-size: 17px;
    line-height: 1.2;
    width: 100%;
    padding: 30px;
    margin: auto;
    position: relative;
    /* transition: all 0.3s ease-out; */
}

#error {
    position: absolute;
    text-align: center;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16px;
    color: var(--error-color);
    opacity: 0;
    transition: 0.2s ease;
}

.preview-wrapper {
    text-align: center;
}

.white-space {
    white-space: pre;
}

.spacer {
    height: 1px;
}

